name: verify
on: [push]

jobs:
  cowsay:
    runs-on: graviton2-ubuntu-18.04

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      - run: npm install -g cowsay
      - run: cowsay -f ghostbusters "  Who ya gonna call?"
      - run: echo "PROFILE"
      - run: cat ~/.profile
      - run: echo "ENV"
      - run: cat ~/actions-runner/.env
      - run: echo "USER DATA LOGS"
      - run: cat /var/log/user-data.log
      - run: echo "DOCKER"
      - run: systemctl --user status '*docker*'
